h1 {
  color: #79d1c3;
  font-size: 30px;
  line-height: 26px;
  font-weight: 400;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  font-family: arial, sans-serif;
  color: #79d1c3;
  padding: 20px;
  border: 2px solid #79d1c3;
  border-radius: 4px;
  background: #f8fcfb;
}
.overview {
  margin-bottom: 30px;
}
.weather-temperature img {
  margin-right: 10px;
}
#temperature {
  font-size: 50px;
  line-height: 1;
  font-weight: 200;
}
.units {
  position: relative;
  font-size: 15px;
  top: -30px;
}
